				{{- $params := .Params | merge .Site.Params.page -}}
				
					<article class="scroll single summary2" ripple="rgba(0,0,0,0.1)" id="{{ .RelPermalink }}" itemscope itemtype="http://schema.org/Article">
							{{- /* Title */ -}}
							<h1 class="single-title" itemprop="name headline">
								<a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a>
								<a v-cloak v-if="isAdmin || (Owner==='{{.Params.author}}')" href="/edit?url={{ .RelPermalink }}&author={{.Params.author}}&multitype={{.Section}}" style="float:right" ><i class="far fa-edit fa-fw" style="font-size:18px" aria-hidden="true"></i></a>
							</h1>	
						<div onclick="window.open('{{ .RelPermalink }}','_self')" class="post-entry">
					
						<div class="post-info2">


							{{- /* Meta */ -}}
							<div class="post-meta">
            <div class="post-meta-line">
                <span class="post-author">
                    {{- partial "meta/author.html" . }}
		
                </span>
				<span class="post-publish">
					<time>{{.Date.Format "2006-01-02" }}</time>
				</span>
				
                <!-- {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}} -->
                    <!-- &nbsp;<i class="far fa-edit fa-fw"></i><time datetime="{{ . }}">{{ . }}</time>&nbsp; -->
                <!-- {{- end -}} -->
 
                <!-- {{- $comment := .Scratch.Get "comment" | default dict -}} -->

                <!-- {{- if $comment.enable | and $comment.waline.enable | and $comment.waline.pageview -}} -->
                    <!-- <span id="{{ .RelPermalink }}" class="leancloud_visitors" data-flag-title="{{ .Title }}"> -->
                        <!-- <i class="far fa-eye fa-fw"></i>&nbsp;<span class="leancloud-visitors-count waline-pageview-count" data-path="{{ .RelPermalink }}"></span>&nbsp; -->
                    <!-- </span>&nbsp; -->
                <!-- {{- end -}} -->

                <!-- {{- /* Comment Count */ -}} -->
                <!-- {{- if $comment.enable | and $comment.waline.enable | and $comment.waline.comment -}} -->
                    <!-- <span id="{{ .RelPermalink }}" class="comment_count" data-flag-title="{{ .Title }}"> -->
                        <!-- <i class="far fa-comments fa-fw"></i>&nbsp;<span class="waline-comment-count" id="waline-comment-count" data-path="{{ .RelPermalink }}"></span>&nbsp; -->
                    <!-- </span>&nbsp; -->
                <!-- {{- end -}} -->



				
            </div>


							</div>

							{{- /* Summary content */ -}}
							<div  class="content">
								{{- with .Summary -}}
									{{- dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
								{{- else -}}
									{{- .Description | safeHTML -}}
								{{- end -}}
							</div>


						</div>
						{{- /* Featured image */ -}}
						
						{{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
						{{- with .Resources.GetMatch "featured-image" -}}
							{{- $image = .RelPermalink -}}
						{{- end -}}
						{{- with .Resources.GetMatch "featured-image-preview" -}}
							{{- $image = .RelPermalink -}}
						{{- end -}}
						{{- with $image -}}
						<div class="featured-image-preview2">
							
								{{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}

						</div>
						{{- end -}}		
					</div>
							{{- /* Footer */ -}}
							<div class="post-footer">
								<div class="post-tags post-category">
																			
									<i class="fas fa-tags fa-fw" aria-hidden="true"></i>&nbsp;
										{{- with .Params.regions -}}
										{{- range $index, $value := . -}}
											{{- if gt $index 0 }},&nbsp;{{ end -}}
											{{- $region := partialCached "function/path.html" $value $value | printf "/regions/%v" | $.Site.GetPage -}}
											<a href="{{ $region.RelPermalink }}">{{ $region.Title}}&nbsp;</a>
										{{- end -}}								
										{{- end -}}
									
										{{- with .Params.countries -}}
										{{- range $index, $value := . -}}
											{{- if gt $index 0 }},&nbsp;{{ end -}}
											{{- $country := partialCached "function/path.html" $value $value | printf "/countries/%v" | $.Site.GetPage -}}
											<a href="{{ $country.RelPermalink }}">{{ $country.Title }}&nbsp;</a>
										{{- end -}}
										{{- end -}}					
										
										{{- with .Params.tags -}}
										{{- range $index, $value := . -}}
											{{- if gt $index 0 }},&nbsp;{{ end -}}
											{{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
											<a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
										{{- end -}}								
										{{- end -}}
								
		
								</div>
								
							</div>					
					</article>