

.abc:after {
    content: "";
    position: absolute;
    top: 65px;
    left: 70%;
    height: 15px;
    width: 90px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: cloudy_shadow 4s ease-in-out infinite;
}

@keyframes cloudy_shadow {
    50% {
        transform: translate(-50%, -50%) scale(0.3);
        background: rgba(0, 0, 0, 0.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        background: rgba(0, 0, 0, 0.5);
    }
}



#fixed-buttons {
  display: none;
}

.fixed-button {
  display: none;
  z-index: 100;
  position: fixed;
  right: .5rem;
  font-size: 1rem;
  line-height: 1.3rem;
  background: $header-background-color;
  @include border-radius(2rem);
  @include transition(color 0.4s ease);

  @include blur;

  &:hover, &:active {
    color: $global-font-color;
    cursor: pointer;
  }

  &:active, &:focus, &:hover {
    outline: none;
  }

  [theme=dark] & {
    color: $global-font-secondary-color-dark;
    background: $header-background-color-dark;

    &:hover, &:active {
      color: $global-font-color-dark;
    }
  }
  
    [theme=black] & {
    color: $global-font-secondary-color-black;
    background: $header-background-color-black;

    &:hover, &:active {
      color: $global-font-color-black;
    }
  }
  
}






#back-to-top-button {
  display: block;
	top: 4rem; 
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3rem;
	
    transition: box-shadow .4s ease,transform .4s ease;
		
}

.topInner{
    display: grid;
    align-items: baseline;
    justify-items: center;
    margin: 8px;
    font-weight: 750;
	font-size: 12px;
	line-height: .8rem;
}

.topSvg {
    width: 24spx;
}

#read_progress{
height:15px; 
display:inline-block;
top: -0.5rem;
}

#view-comments {
  bottom: 4.5rem;
}
